<div class="sign-up-wrapper" style="background-image: url(https://res.cloudinary.com/dvallavgs/image/upload/v1584457046/woman-holding-baby-while-sitting-on-fur-bean-bag-698878_rtfmhk.jpg)">
  <div class="container mx-0 h-100">
    <div class="row">
      <div class="col-xs-12 col-md-6 offset-md-1 black_bgr mt-3">
    <h1 class="text-center">Become a nanny!</h1>
        <%= simple_form_for @nanny do |f| %>
        <div class="short_input">
        <%= f.input :city %>
        <%= f.input :age, input_html: { min: "0" } %>
        <%= f.input :description %>
        <%= f.input :experience_level, input_html: { min: "0", max: "5" } %>
        <%= f.input :price_per_hour, input_html: { min: "0" } %>
        <%= f.input :certification %>
        <%= f.input :photo, as: :file %>

        </div>
        <div class="text-center">
        <%= f.submit "Submit", class: "btn btn-primary btn-submit w-100" %>
        </div>

        <% end %>

        <div class="text-center mt-3">
          <%= link_to "Go back", nannies_path, class: "btn btn-warning btn-sm btn-submit w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
